.container {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.modal_container {
  position: relative;
  width: 90vw;
  height: 400px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.close_icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal_header {
  width: 100%;
  display: flex;
  gap: 15px;
}

.modal_header p {
  font-size: 18px;
  font-weight: 600;
  transition-duration: 200ms;
  cursor: pointer;
}

.modal_header p:hover {
  color: #006eff;
}

.active {
  color: #006eff;
}

.modal_container hr {
  margin-top: 0;
}

.upload_section {
  height: calc(100% - 69px);
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.browse_btn,
.submit_btn {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #006eff;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

.browse_btn {
  margin-bottom: 5px;
}

.submit_btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.added_file {
  height: 35px;
  width: 350px;
  background-color: #f5f5f5;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 10px;
}

.added_file p {
  margin: 0;
}

.delete_file {
  font-size: 18px;
  font-weight: 700;
}

.delete_file:hover {
  font-size: 18px;
  font-weight: 700;
  background-color: none;
}

.loaders div {
  position: relative;
}

.loader span {
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #ffffff #ffffff;
  -webkit-animation: cssload-spin 690ms infinite linear;
  animation: cssload-spin 690ms infinite linear;
}

@-webkit-keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
