.chatEmptyState {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 1024px;
  padding-bottom: 85px;
}

.container {
  width: 400px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  background-color: #cee6ff;
  border-radius: 10px;
  align-items: center;
  box-shadow: #0000003d 0px 3px 8px;
}

.container div {
  width: 48%;
  height: 85%;
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Mukta", sans-serif;
}

.container div p {
  margin-bottom: 0;
}

.activeMode {
  background-color: #f2f2f2 !important;
  border: 1px solid #d1d1d18a;
}

.icon {
  color: #798ca0;
}

.activeMode .icon {
  color: #0a66c2;
}

@media only screen and (max-height: 780px) {
  .chatEmptyState {
    padding-top: 0;
  }
}
