.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.chatMessageStream::-webkit-scrollbar {
  width: 0;
}

.goToTopBtn {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #e7f4ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #001b373d;
}

.chatRoot {
  flex: 1;
  display: flex;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chatEmptyState {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 1024px;
  padding-bottom: 85px;
}

.chatEmptyStateTitle {
  font-size: 2rem !important;
  font-weight: 600;
  margin-top: 0;
}

.chatEmptyStateSubtitle {
  font-weight: 600;
  margin-bottom: 10px;
}

@media only screen and (max-height: 780px) {
  .chatEmptyState {
    padding-top: 0;
  }

  .chatEmptyStateTitle {
    font-size: 3rem;
    margin-bottom: 0px;
  }
}

.chatMessageStream {
  flex-grow: 1;
  max-height: 1024px;
  max-width: 1028px;
  width: 100%;
  overflow-y: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}

.chatMessageGpt {
  margin-bottom: 20px;
  max-width: 80%;
  display: flex;
  min-width: 500px;
}

.chatMessageGptMinWidth {
  max-width: 500px;
  margin-bottom: 20px;
}

.chatInput {
  position: sticky;
  bottom: 0;
  flex: 0 0 100px;
  padding-top: 12px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  max-width: 1028px;
  background: #f2f2f2;
}

.chatAnalysisPanel {
  flex: 1;
  overflow-y: auto;
  max-height: 89vh;
  margin-left: 20px;
  margin-right: 20px;
}

.chatSettingsSeparator {
  margin-top: 15px;
}

.loadingLogo {
  font-size: 28px;
}

.commandsContainer {
  display: flex;
  align-self: flex-end;
}

.commandButton {
  margin-right: 20px;
  margin-bottom: 20px;
}
/* 
.temperatureToggle {
  display: flex;
} */

.checkbox {
  background: #1e1e1e;
  border-radius: 100px;
  padding: 10px 15px;
  color: #626262;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 245px;
  font-size: 21px;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  background-clip: content-box;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.checkbox input {
  opacity: 0;
  pointer-events: none;
}
.checkbox label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 3;
}
.checkbox .on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  text-align: right;
  color: #fff;
  transform: translateX(0);
  border-radius: 100px;
  z-index: 2;
}
.checkbox .on span {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateX(0) translateY(-50%);
  transition: all 500ms ease-in-out;
  transition-delay: 200ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox .off {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: right;
  color: #000;
  transform: translateX(-100%);
  border-radius: 100px;
  z-index: 1;
  background-clip: content-box;
}
.checkbox .off span {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateX(0) translateY(-50%);
  transition: all 500ms ease-in-out;
  transition-delay: 200ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
