.oneshotContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.oneshotTopSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.oneshotBottomSection {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  margin-top: 20px;
}

.oneshotTitle {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 130px;
}

@media only screen and (max-width: 800px) {
  .oneshotTitle {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0;
  }
}

.oneshotQuestionInput {
  max-width: 800px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.oneshotAnswerContainer {
  max-width: 800px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.oneshotAnalysisPanel {
  width: 600px;
  margin-left: 20px;
}

.oneshotSettingsSeparator {
  margin-top: 15px;
}

.settingsButton {
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 20px;
}

.promptList {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.filterContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.searchbar,
.filter {
  border-radius: 5px;
  outline: none;
  height: 40px;
  box-shadow: #2d2d2d1d 0px 1px 4px;
  border: 1px solid #b7b7b73a;
  /* border: none; */
  background-color: #f0f0f0;
  padding: 0 5px;
}

.searchbar {
  width: 100%;
  padding: 0 8px;
}

.filter {
  width: 30%;
}

.prompt_form {
  width: 100%;
}

.prompt_textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #00000045;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px 10px;
}

.add_btn {
  width: 100%;
  height: 35px;
  border: 0px;
  border-radius: 5px;
  background-color: #ececec;
  text-transform: uppercase;
}

.add_btn:hover {
  background-color: #e6e6e6;
}

.prompt_by {
  font-size: 12px;
  position: relative;
  width: 100%;
  text-align: right;
  color: #868585;
}

.promptContainer {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: relative;
  width: 100%;
  background-color: #dbdbdb;
  padding: 5px 10px;
  border-radius: 10px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
}

.prompt {
  width: 85%;
  padding-right: 7px;
  min-height: 50px;
}
